<h1>Listing Conseqs</h1>

<script>
 $(document).ready(function() {
     $('#conseqs').dataTable();
 } );
</script>
<table id ='conseqs'>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
  </tr>
  </thead>
  <tbody>
<% @sequences.each do |seq| %>
  <tr>
    <td><%= seq.id %></td>
    <td><%= seq.seq_name %></td>
    <td><%= seq.seq_type %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<br />

<%= link_to 'New Conseq', new_conseq_path %>
