config/database.yml
log/development.log
temp_data/*
BDV_L.gff
BDV_L.txt
Final_L_MM_RABV_pid.fasta_Rhabdo_L_RABV_pid.fasta.out
P_Bali_Rhabdo_Cut_Fin_CHPV_pid.fasta.out
P_Bali_Rhabdo_Cut_Fin_ISFV_pid.fasta.out
P_MAFFT_All_Cut_Fin_ABLV_pid.fasta.out
P_MAFFT_All_Cut_Fin_AVPM_pid.fasta.out
P_MAFFT_All_Cut_Fin_AVPN_pid.fasta.out
P_MAFFT_All_Cut_Fin_BEIV_pid.fasta.out
P_MAFFT_All_Cut_Fin_BPIV_pid.fasta.out
P_MAFFT_All_Cut_Fin_BRSV_pid.fasta.out
P_MAFFT_All_Cut_Fin_CDV_pid.fasta.out
P_MAFFT_All_Cut_Fin_CHPV_pid.fasta.out
P_MAFFT_All_Cut_Fin_DMV_pid.fasta.out
P_MAFFT_All_Cut_Fin_FDLV_pid.fasta.out
P_MAFFT_All_Cut_Fin_FLAV_pid.fasta.out
P_MAFFT_All_Cut_Fin_HEND_pid.fasta.out
P_MAFFT_All_Cut_Fin_HMPV_pid.fasta.out
P_MAFFT_All_Cut_Fin_HPIV_pid.fasta.out
P_MAFFT_All_Cut_Fin_HRSV_pid.fasta.out
P_MAFFT_All_Cut_Fin_IHNV_pid.fasta.out
P_MAFFT_All_Cut_Fin_ISFV_pid.fasta.out
P_MAFFT_All_Cut_Fin_JV_pid.fasta.out
P_MAFFT_All_Cut_Fin_LNYV_pid.fasta.out
P_MAFFT_All_Cut_Fin_MENV_pid.fasta.out
P_MAFFT_All_Cut_Fin_MMV_pid.fasta.out
P_MAFFT_All_Cut_Fin_MOKV_pid.fasta.out
P_MAFFT_All_Cut_Fin_MOSV_pid.fasta.out
P_MAFFT_All_Cut_Fin_MeV_pid.fasta.out
P_MAFFT_All_Cut_Fin_MuV_pid.fasta.out
P_MAFFT_All_Cut_Fin_NDV_pid.fasta.out
P_MAFFT_All_Cut_Fin_NIPH_pid.fasta.out
P_MAFFT_All_Cut_Fin_PDPR_pid.fasta.out
P_MAFFT_All_Cut_Fin_PDV_pid.fasta.out
P_MAFFT_All_Cut_Fin_PNVM_pid.fasta.out
P_MAFFT_All_Cut_Fin_RABV_pid.fasta.out
P_MAFFT_All_Cut_Fin_RABV_pid.fasta_Rhabdo_L_RABV_pid.fasta.out
P_MAFFT_All_Cut_Fin_RPV_pid.fasta.out
P_MAFFT_All_Cut_Fin_RSV_pid.fasta.out
P_MAFFT_All_Cut_Fin_SCRV_pid.fasta.out
P_MAFFT_All_Cut_Fin_SENV_pid.fasta.out
P_MAFFT_All_Cut_Fin_SNAK_pid.fasta.out
P_MAFFT_All_Cut_Fin_SPIV_pid.fasta.out
P_MAFFT_All_Cut_Fin_SVCV_pid.fasta.out
P_MAFFT_All_Cut_Fin_TIOV_pid.fasta.out
P_MAFFT_All_Cut_Fin_TUPV_pid.fasta.out
P_MAFFT_All_Cut_Fin_TVCV_pid.fasta.out
P_MAFFT_All_Cut_Fin_VSIV_pid.fasta.out
P_MAFFT_All_Cut_Fin_VSNJ_pid.fasta.out
P_MAFFT_All_Cut_Fin_VSSJ_pid.fasta.out
Para_L_Final_Padded_AVPMV6_pid.fasta.out
Para_L_Final_Padded_AVPNV_pid.fasta.out
Para_L_Final_Padded_BEIV_pid.fasta.out
Para_L_Final_Padded_BPV3_pid.fasta.out
Para_L_Final_Padded_BRSV_pid.fasta.out
Para_L_Final_Padded_CDV_pid.fasta.out
Para_L_Final_Padded_DMV_pid.fasta.out
Para_L_Final_Padded_FDLV_pid.fasta.out
Para_L_Final_Padded_GPV_pid.fasta.out
Para_L_Final_Padded_HMPNV_pid.fasta.out
Para_L_Final_Padded_HPIV2_pid.fasta.out
Para_L_Final_Padded_HPV1_pid.fasta.out
Para_L_Final_Padded_HPV3_pid.fasta.out
Para_L_Final_Padded_HRSVA2_pid.fasta.out
Para_L_Final_Padded_HRSVB1_pid.fasta.out
Para_L_Final_Padded_HRSVS2_pid.fasta.out
Para_L_Final_Padded_HV_pid.fasta.out
Para_L_Final_Padded_JV_pid.fasta.out
Para_L_Final_Padded_MENV_pid.fasta.out
Para_L_Final_Padded_MOSV_pid.fasta.out
Para_L_Final_Padded_MeV_pid.fasta.out
Para_L_Final_Padded_MuV_pid.fasta.out
Para_L_Final_Padded_NIPH_pid.fasta.out
Para_L_Final_Padded_PDPRV_pid.fasta.out
Para_L_Final_Padded_PDV_pid.fasta.out
Para_L_Final_Padded_PNVM15_pid.fasta.out
Para_L_Final_Padded_PNVMJ3666_pid.fasta.out
Para_L_Final_Padded_RPV_pid.fasta.out
Para_L_Final_Padded_RSV_pid.fasta.out
Para_L_Final_Padded_SENV_pid.fasta.out
Para_L_Final_Padded_SPIV41_pid.fasta.out
Para_L_Final_Padded_SPIV5_pid.fasta.out
Para_L_Final_Padded_TIOV_pid.fasta.out
Para_L_Final_Padded_TUPV_pid.fasta.out
Rhabdo_L_BEFV_pid.fasta.out
Rhabdo_L_CHPV_pid.fasta.out
Rhabdo_L_FLAV_pid.fasta.out
Rhabdo_L_HIRV_pid.fasta.out
Rhabdo_L_IHNV_pid.fasta.out
Rhabdo_L_ISFV_pid.fasta.out
coev_inter.csv
coev_intra.txt
lib/railsview/themes/004_pixo/ROUTES
lib/railsview/themes/004_pixo/application/app/assets/images/1.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/2.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/3.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/Thumbs.db
lib/railsview/themes/004_pixo/application/app/assets/images/bg-footer-extra.gif
lib/railsview/themes/004_pixo/application/app/assets/images/bg-footer.gif
lib/railsview/themes/004_pixo/application/app/assets/images/carousel/1.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/carousel/2.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/carousel/3.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/carousel/Thumbs.db
lib/railsview/themes/004_pixo/application/app/assets/images/city.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/glyphicons-halflings-white.png
lib/railsview/themes/004_pixo/application/app/assets/images/glyphicons-halflings.png
lib/railsview/themes/004_pixo/application/app/assets/images/icon-zoom.png
lib/railsview/themes/004_pixo/application/app/assets/images/img/Thumbs.db
lib/railsview/themes/004_pixo/application/app/assets/images/img/bg-footer-extra.gif
lib/railsview/themes/004_pixo/application/app/assets/images/img/bg-footer.gif
lib/railsview/themes/004_pixo/application/app/assets/images/img/carousel/1.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/img/carousel/2.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/img/carousel/3.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/img/carousel/Thumbs.db
lib/railsview/themes/004_pixo/application/app/assets/images/img/city.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/img/glyphicons-halflings-white.png
lib/railsview/themes/004_pixo/application/app/assets/images/img/glyphicons-halflings.png
lib/railsview/themes/004_pixo/application/app/assets/images/img/icon-zoom.png
lib/railsview/themes/004_pixo/application/app/assets/images/img/ipad.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/img/mac.png
lib/railsview/themes/004_pixo/application/app/assets/images/img/member.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/img/navbar-active-item.png
lib/railsview/themes/004_pixo/application/app/assets/images/img/title-img1.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/img/title-img2.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/img/title-img3.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/ipad.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/mac.png
lib/railsview/themes/004_pixo/application/app/assets/images/member.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/navbar-active-item 2.png
lib/railsview/themes/004_pixo/application/app/assets/images/navbar-active-item.png
lib/railsview/themes/004_pixo/application/app/assets/images/rails.png
lib/railsview/themes/004_pixo/application/app/assets/images/spacer.gif
lib/railsview/themes/004_pixo/application/app/assets/images/title-img1.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/title-img2.jpg
lib/railsview/themes/004_pixo/application/app/assets/images/title-img3.jpg
lib/railsview/themes/004_pixo/application/app/assets/javascripts/application.js
lib/railsview/themes/004_pixo/application/app/assets/javascripts/bootstrap.js
lib/railsview/themes/004_pixo/application/app/assets/javascripts/bootstrap.min.js
lib/railsview/themes/004_pixo/application/app/assets/javascripts/functions.js
lib/railsview/themes/004_pixo/application/app/assets/javascripts/functions.min.js
lib/railsview/themes/004_pixo/application/app/assets/javascripts/jquery-1.7.2.min.js
lib/railsview/themes/004_pixo/application/app/assets/javascripts/jquery.isotope.min.js
lib/railsview/themes/004_pixo/application/app/assets/javascripts/jquery.touchSwipe.js
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/application.css
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/bootstrap/bootstrap-responsive.css
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/bootstrap/bootstrap-responsive.min.css
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/bootstrap/bootstrap.css
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/bootstrap/bootstrap.min.css
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/font-awesome/font-awesome-ie7.css
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/font-awesome/font-awesome.css
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/font-awesome/font/README.TXT
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/font-awesome/font/fontawesome-webfont.eot
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/font-awesome/font/fontawesome-webfont.svg
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/font-awesome/font/fontawesome-webfont.ttf
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/font-awesome/font/fontawesome-webfont.woff
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/font.css
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/myriadpro-bold.eot
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/myriadpro-bold.svg
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/myriadpro-bold.ttf
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/myriadpro-bold.woff
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/myriadpro-regular.eot
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/myriadpro-regular.svg
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/myriadpro-regular.ttf
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/myriadpro-regular.woff
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/pts75f.eot
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/pts75f.svg
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/pts75f.ttf
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/pts75f.woff
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/style.min.css
lib/railsview/themes/004_pixo/application/app/assets/stylesheets/style.uncompressed.css
lib/railsview/themes/004_pixo/application/app/controllers/application_controller.rb
lib/railsview/themes/004_pixo/application/app/controllers/pages_controller.rb
lib/railsview/themes/004_pixo/application/app/views/layouts/application.html.erb
lib/railsview/themes/004_pixo/application/app/views/pages/about.html.erb
lib/railsview/themes/004_pixo/application/app/views/pages/contact.html.erb
lib/railsview/themes/004_pixo/application/app/views/pages/faq.html.erb
lib/railsview/themes/004_pixo/application/app/views/pages/index.html.erb
lib/railsview/themes/004_pixo/application/app/views/pages/plans.html.erb
lib/railsview/themes/004_pixo/application/app/views/pages/work.html.erb
lib/railsview/themes/004_pixo/preview/about.html
lib/railsview/themes/004_pixo/preview/contact.html
lib/railsview/themes/004_pixo/preview/css/bootstrap/bootstrap-responsive.css
lib/railsview/themes/004_pixo/preview/css/bootstrap/bootstrap-responsive.min.css
lib/railsview/themes/004_pixo/preview/css/bootstrap/bootstrap.css
lib/railsview/themes/004_pixo/preview/css/bootstrap/bootstrap.min.css
lib/railsview/themes/004_pixo/preview/css/font-awesome/font-awesome-ie7.css
lib/railsview/themes/004_pixo/preview/css/font-awesome/font-awesome.css
lib/railsview/themes/004_pixo/preview/css/font-awesome/font/README.TXT
lib/railsview/themes/004_pixo/preview/css/font-awesome/font/fontawesome-webfont.eot
lib/railsview/themes/004_pixo/preview/css/font-awesome/font/fontawesome-webfont.svg
lib/railsview/themes/004_pixo/preview/css/font-awesome/font/fontawesome-webfont.ttf
lib/railsview/themes/004_pixo/preview/css/font-awesome/font/fontawesome-webfont.woff
lib/railsview/themes/004_pixo/preview/css/font.css
lib/railsview/themes/004_pixo/preview/css/myriadpro-bold.eot
lib/railsview/themes/004_pixo/preview/css/myriadpro-bold.svg
lib/railsview/themes/004_pixo/preview/css/myriadpro-bold.ttf
lib/railsview/themes/004_pixo/preview/css/myriadpro-bold.woff
lib/railsview/themes/004_pixo/preview/css/myriadpro-regular.eot
lib/railsview/themes/004_pixo/preview/css/myriadpro-regular.svg
lib/railsview/themes/004_pixo/preview/css/myriadpro-regular.ttf
lib/railsview/themes/004_pixo/preview/css/myriadpro-regular.woff
lib/railsview/themes/004_pixo/preview/css/pts75f.eot
lib/railsview/themes/004_pixo/preview/css/pts75f.svg
lib/railsview/themes/004_pixo/preview/css/pts75f.ttf
lib/railsview/themes/004_pixo/preview/css/pts75f.woff
lib/railsview/themes/004_pixo/preview/css/style.min.css
lib/railsview/themes/004_pixo/preview/css/style.uncompressed.css
lib/railsview/themes/004_pixo/preview/faq.html
lib/railsview/themes/004_pixo/preview/images/1.jpg
lib/railsview/themes/004_pixo/preview/images/2.jpg
lib/railsview/themes/004_pixo/preview/images/3.jpg
lib/railsview/themes/004_pixo/preview/images/Thumbs.db
lib/railsview/themes/004_pixo/preview/images/bg-footer-extra.gif
lib/railsview/themes/004_pixo/preview/images/bg-footer.gif
lib/railsview/themes/004_pixo/preview/images/ipad.jpg
lib/railsview/themes/004_pixo/preview/images/navbar-active-item.png
lib/railsview/themes/004_pixo/preview/images/spacer.gif
lib/railsview/themes/004_pixo/preview/images/title-img1.jpg
lib/railsview/themes/004_pixo/preview/images/title-img2.jpg
lib/railsview/themes/004_pixo/preview/images/title-img3.jpg
lib/railsview/themes/004_pixo/preview/img/Thumbs.db
lib/railsview/themes/004_pixo/preview/img/bg-footer-extra.gif
lib/railsview/themes/004_pixo/preview/img/bg-footer.gif
lib/railsview/themes/004_pixo/preview/img/carousel/1.jpg
lib/railsview/themes/004_pixo/preview/img/carousel/2.jpg
lib/railsview/themes/004_pixo/preview/img/carousel/3.jpg
lib/railsview/themes/004_pixo/preview/img/carousel/Thumbs.db
lib/railsview/themes/004_pixo/preview/img/city.jpg
lib/railsview/themes/004_pixo/preview/img/glyphicons-halflings-white.png
lib/railsview/themes/004_pixo/preview/img/glyphicons-halflings.png
lib/railsview/themes/004_pixo/preview/img/icon-zoom.png
lib/railsview/themes/004_pixo/preview/img/ipad.jpg
lib/railsview/themes/004_pixo/preview/img/mac.png
lib/railsview/themes/004_pixo/preview/img/member.jpg
lib/railsview/themes/004_pixo/preview/img/navbar-active-item.png
lib/railsview/themes/004_pixo/preview/img/title-img1.jpg
lib/railsview/themes/004_pixo/preview/img/title-img2.jpg
lib/railsview/themes/004_pixo/preview/img/title-img3.jpg
lib/railsview/themes/004_pixo/preview/index.html
lib/railsview/themes/004_pixo/preview/js/bootstrap.js
lib/railsview/themes/004_pixo/preview/js/bootstrap.min.js
lib/railsview/themes/004_pixo/preview/js/functions.js
lib/railsview/themes/004_pixo/preview/js/functions.min.js
lib/railsview/themes/004_pixo/preview/js/jquery-1.7.2.min.js
lib/railsview/themes/004_pixo/preview/js/jquery.isotope.min.js
lib/railsview/themes/004_pixo/preview/js/jquery.touchSwipe.js
lib/railsview/themes/004_pixo/preview/plans.html
lib/railsview/themes/004_pixo/preview/work.html
tmp/pids/server.pid
