<h1>Main</h1>
<hr>
<h3><%= link_to 'Sequences', sequences_path %></h3> View List of Sequences and actions
<br>
<br>
<hr>
<h3><%= link_to 'Alignments', alignments_path %></h3> View list of Alignments and actions
<br>
<br>
<hr>
<h3><%= link_to 'Disorder', disorders_path %></h3> View list of Disorders and actions
<br><br><br><br><br><br><br><br>