<h1>Listing caps</h1>
<script>
 $(document).ready(function() {
     $('#caps').dataTable();
 } );
</script>
<table id="caps">
  <thead>
  <tr>
    <th>SeqID</th>
    <th>Name</th>
    <th>Type</th>
  </tr>
  </thead>
  <tbody>
<% @caps.each do |cap| %>
  <% seq = cap.sequence %>
  <%unless seq.nil?%>
  <tr>
    <td><%= seq.id %></td>
    <td><%= seq.seq_name %></td>
    <td><%= seq.seq_type %></td>
  </tr>
<%end%>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Cap', new_cap_path %>
