<h1>Listing intra_residue_contacts</h1>
<script>
 $(document).ready(function() {
     $('#contacts').dataTable();
 } );
</script>
<table id ='contacts'>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
  </tr>
  </thead>
  <tbody>
<% @sequences.each do |seq| %>
  <tr>
    <td><%= seq.id %></td>
    <td><%= seq.seq_name %></td>
    <td><%= seq.seq_type %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<br />

<%= link_to 'New Intra residue contact', new_intra_residue_contact_path %>
