<h1>Listing Xdet</h1>
<script>
 $(document).ready(function() {
     $('#xdets').dataTable();
 } );
</script>
<table id ='xdets'>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
  </tr>
  </thead>
  <tbody>
<% @sequences.each do |seq| %>
  <tr>
    <td><%= seq.id %></td>
    <td><%= seq.seq_name %></td>
    <td><%= seq.seq_type %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Xdet', new_xdet_path %>
